<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspiron.tharun26.navdrawer" >

    <uses-permission android:name="android.permission.ACTION_DIAL" />
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.inspiron.tharun26.navdrawer.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.inspiron.tharun26.navdrawer.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/KitkatStatusBar" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".workshops"
            android:label="@string/title_activity_workshops" >
        </activity>
        <activity
            android:name=".Event1"
            android:label="@string/title_activity_event1"
           >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/KitkatStatusBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.inspiron.tharun26.manusys" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <activity
            android:name=".about"
            android:label="@string/title_activity_about"
            android:theme="@style/KitkatStatusBar" >
        </activity>
        <activity
            android:name=".Event2"
            android:label="@string/title_activity_event2" >
        </activity>
        <activity
            android:name=".Event3"
            android:label="@string/title_activity_event3" >
        </activity>
        <activity
            android:name=".Event4"
            android:label="@string/title_activity_event4" >
        </activity>
        <activity
            android:name=".Event5"
            android:label="@string/title_activity_event5" >
        </activity>
        <activity
            android:name=".Event6"
            android:label="@string/title_activity_event6" >
        </activity>
        <activity
            android:name=".Event7"
            android:label="@string/title_activity_event7" >
        </activity>
        <activity
            android:name=".Event8"
            android:label="@string/title_activity_event8" >
        </activity>
        <activity
            android:name=".Event9"
            android:label="@string/title_activity_event9" >
        </activity>
        <activity
            android:name=".Event10"
            android:label="@string/title_activity_event10" >
        </activity>
        <activity
            android:name=".Event11"
            android:label="@string/title_activity_event11" >
        </activity>
    </application>

</manifest>
